main
	section.banner.slider-nav
		.container
			.row.row-eq-height
				.col-md-6
					.banner__caption
						.banner__title
							| Спортивные секции
							span В Северном бутово
							| для детей
						.banner__subtitle  Художественная гимнастика, общая физическая подготовка, смешанные единоборства.
				.col-md-6
					.slider
						.slider__item
							.slider__img
								img(src="img/img-slider-img1.png", alt="alt")
						.slider__item
							.slider__img
								img(src="img/img-slider-img2.png", alt="alt")
	section.services.bg.bg_viola
		.container
			.section-title Спортивные секции
			.row.services-wrap
				.col-xs-4
					a.service(href='#type1' data-toggle='modal')
						.service__icon-wrap
							.service__icon.service__icon_gymn
						.service__title Художественная гимнастика
						.service__label для детей с 3х лет
						.service__link
							span Подробнее
				.col-xs-4
					a.service(href='#type2' data-toggle='modal')
						.service__icon-wrap
							.service__icon.service__icon_run
						.service__title Общая физическая подготовка
						.service__label для детей с 4х лет
						.service__link
							span Подробнее
				.col-xs-4
					a.service(href='#type3' data-toggle='modal')
						.service__icon-wrap
							.service__icon.service__icon_boxing
						.service__title Смешанные единоборства + общая физподготовка
						.service__label с 8 до 11 лет
						.service__link
							span Подробнее
			.center-butn-holder
				a.butn.butn_violet(href="#order" data-toggle='modal') Записаться на тренировку
	section.groups.bg.bg_yellow
		.container
			.section-title Расписание на 2017–2018 год
			.section-subtitle  Расписание на 2017-2018 год будет готово с 25 августа. Тренировки начинаются с 4 сентября
			.row.row-10.group-row
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №1
								.group__text
									p зал №2
									p Общая физическая подготовка 
									p c 4 до 5,5 лет
								.group__sheldure Пн, Ср 17:00–18:00
							.group__img
								img(src="img/img-group1.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №2
								.group__text
									p зал №2
									p Художественная  гимнастика
									p c 3 до 4,5 лет
								.group__sheldure Пн, Ср 17:00–18:00
							.group__img
								img(src="img/img-group2.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №3
								.group__text
									p зал №2
									p Художественная  гимнастика
									p c 5 до 7 лет
								.group__sheldure Пн, Ср 18:00–19:00
							.group__img
								img(src="img/img-group3.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №4
								.group__text
									p зал №2
									p Художественная гимнастика
									p с 6 до 8 лет (второй-третий год обучения)
								.group__sheldure Пн, Ср, Чт, Пт 19:00–20:30 	Сб 11:00–12:30
							.group__img
								img(src="img/img-group1.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №5
								.group__text
									p зал №2
									p Смешанные единоборства + Общая физическая подготовка
									p с 8 до 11 лет
								.group__sheldure Вт, Чт, Пт 16:00–17:30
							.group__img
								img(src="img/img-group1.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №6
								.group__text
									p зал №2
									p Художественная гимнастика
									p с 3,5 до 5 лет
								.group__sheldure Вт, Чт 17:00–18:00
							.group__img
								img(src="img/img-group6.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №7
								.group__text
									p зал №2
									p Общая физическая подготовка 
									p с 5 до 7 лет
								.group__sheldure Вт, Чт, Пт 18:00–19:10
							.group__img
								img(src="img/img-group7.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №8
								.group__text
									p зал №2
									p Художественная гимнастика
									p с 5 до 7 лет
								.group__sheldure Вт, Ср, Пт 19:00–20:30
							.group__img
								img(src="img/img-group8.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №9
								.group__text
									p зал №2
									p Художественная гимнастика
									p с 4,5 до 6 лет
								.group__sheldure Вт, Ср, Чт 18:00–19:00
							.group__img
								img(src="img/img-group9.png", alt="alt")
				.col-md-6
					.group-wrap
						.group.clearfix
							.group__content
								.group__title ГРУППА №10
								.group__text
									p зал №2
									p Общая физическая подготовка 
									p с 7 лет
								.group__sheldure Вт, Чт 19:30–20:30
							.group__img
								img(src="img/img-group10.png", alt="alt")
			.center-butn-holder
				a.butn.butn_violet(href="#order" data-toggle='modal') Записаться на тренировку
	section.why-we.bg.bg_red
		.container
			.section-title Почему мы
			.services-wrap
				.row
					.col-xs-4
						a.service(href='#')
							.service__icon-wrap
								.service__icon.service__icon_cup
							.service__title.service__title_c-wh Квалифицированные тренеры
					.col-xs-4
						a.service(href='#')
							.service__icon-wrap
								.service__icon.service__icon_up
							.service__title.service__title_c-wh Комфортабельные залы
					.col-xs-4
						a.service(href='#')
							.service__icon-wrap
								.service__icon.service__icon_mag-glass
							.service__title.service__title_c-wh Индивидуальный подход к каждому
			.center-butn-holder
				a.butn.butn_violet.butn_hover-green(href="#order" data-toggle='modal') Записаться на тренировку
	section.about.bg.bg_green
		.container
			.section-title Ждем вас в наших секциях!
			.row
				.col-md-6
					.img
						img(src='img/img-about.png' alt='')
				.col-md-6
					.text
						p <b>Занятия для детей проводят профессиональные тренеры, которые находят подход к каждому ребенку. Это время, потраченное с толком и пользой и детьми, и их родителями.</b>
						p Тренер является и психологом для детей на занятиях, каждый ребенок — индивидуален и к нему нужен особенный подход, чтобы воспитать дисциплину и заставить работать, но и не отбить желание продолжать занятия в дальнейшем. Мы обеспечиваем индивидуальный подход к каждому ребенку, благодаря формированию групп малой численности. Обучение детей производится на высшем профессиональном уровне.
	section.team-section.bg.bg_fountain-blue
		.container
			.section-title Наша команда
			.row.team-wrap
				.col-sm-4
					a.team-unit(href='#coach1' data-toggle='modal')
						.team-unit__img
							img(src='img/img-team-unit1.png' alt='')
							.team-unit__img-hover
								span Читать <br>подробнее
						.team-unit__name Екатерина Иванова
						.team-unit__text Мастер спорта по художественной гимнастике РФ.<br>Стаж работы: более 8-ми лет.
						.team-unit__link
									span Подробнее
				.col-sm-4
					a.team-unit(href='#coach1' data-toggle='modal')
						.team-unit__img
							img(src='img/img-team-unit2.png' alt='')
							.team-unit__img-hover
								span Читать <br>подробнее
						.team-unit__name Александр Долгорукий
						.team-unit__text Мастер спорта Республики Беларусь.<br>Стаж работы: 4 года.
						.team-unit__link
									span Подробнее
				.col-sm-4
					a.team-unit(href='#coach1' data-toggle='modal')
						.team-unit__img
							img(src='img/img-team-unit3.png' alt='')
							.team-unit__img-hover
								span Читать <br>подробнее
						.team-unit__name Елена Сергеева
						.team-unit__text Мастер спорта РФ.<br>Стаж работы: 3 года.
						.team-unit__link
									span Подробнее
	section.gallery-section.bg.bg_indigo
		.section-title Фото и видео
		ul.tabs
			li.active
				a(data-toggle='tab', href='#home') Художественная гимнастика
			li
				a(data-toggle='tab', href='#menu1') Общая физическая подготовка
			li
				a(data-toggle='tab', href='#menu2') Смешанные единоборства
		.tab-content
			#home.tab-pane.fade.in.active
				.slider-full-width
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
							img(src='img/img-fwslider1.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
							img(src='img/img-fwslider2.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
							img(src='img/img-fwslider3.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
							img(src='img/img-fwslider4.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider5.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
							img(src='img/img-fwslider6.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider7.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
							img(src='img/img-fwslider8.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
							img(src='img/img-fwslider9.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
			#menu1.tab-pane.fade
				.slider-full-width
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
							img(src='img/img-fwslider1.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
							img(src='img/img-fwslider2.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
							img(src='img/img-fwslider3.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
							img(src='img/img-fwslider4.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider5.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
							img(src='img/img-fwslider6.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider7.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
							img(src='img/img-fwslider8.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
							img(src='img/img-fwslider9.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
			#menu2.tab-pane.fade
				.slider-full-width
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
							img(src='img/img-fwslider1.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
							img(src='img/img-fwslider2.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
							img(src='img/img-fwslider3.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
							img(src='img/img-fwslider4.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider5.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
							img(src='img/img-fwslider6.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider7.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
							img(src='img/img-fwslider8.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
							img(src='img/img-fwslider9.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
					.slider-full-width__item
						a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
							img(src='img/img-fwslider10.png' alt='')
		.center-butn-holder
			a.butn.butn_hover-green(href="#order" data-toggle='modal') Записаться на тренировку
	section.testemonials.bg.bg_studio.jsTestemonialsSliderNav
		.container
			.section-title Отзывы
			.testemonials-slider
				.testemonials-slider__item
					.testemonials-slider__img
						img(src='img/img-testemonial1.png')
					.testemonials-slider__text
						p День рождения ребенка — один из самых ярких дней в году, поэтому отметить его надо так весело, чтобы праздник надолго остался в памяти! Нашу Машеньку ждала волшебная атмосфера, детская сказка и конечно же Веселье, Отдых, Дискотека и много много интересного! Нам очень понравилось, будем обращаться еще!
						p Марина Петрова, г.Москва
				.testemonials-slider__item
					.testemonials-slider__img
						img(src='img/img-testemonial1.png')
					.testemonials-slider__text
						p День рождения ребенка — один из самых ярких дней в году, поэтому отметить его надо так весело, чтобы праздник надолго остался в памяти! Нашу Машеньку ждала волшебная атмосфера, детская сказка и конечно же Веселье, Отдых, Дискотека и много много интересного! Нам очень понравилось, будем обращаться еще!
						p Марина Петрова, г.Москва
				.testemonials-slider__item
					.testemonials-slider__img
						img(src='img/img-testemonial1.png')
					.testemonials-slider__text
						p День рождения ребенка — один из самых ярких дней в году, поэтому отметить его надо так весело, чтобы праздник надолго остался в памяти! Нашу Машеньку ждала волшебная атмосфера, детская сказка и конечно же Веселье, Отдых, Дискотека и много много интересного! Нам очень понравилось, будем обращаться еще!
						p Марина Петрова, г.Москва
	section.about1.bg.bg_viola
		.container
			.section-title Физическое развитие вашего <br> ребенка — это важно!
			.row
				.col-md-6
					.text.text_wh.text_mb55
						p Здоровье, стройность, красота, хорошая физическая подготовка, дисциплина, сила воли — все это дает именно <b>художественная гимнастика</b>.
						p Занятия <b>смешанными единоборствами</b> развивают у ребенка такие полезные качества, как смелость, настойчивость в преодолении трудностей, решительность и самообладание, скорость реакции и другие.
						p <b>Общефизическая подготовка</b> нужна вашему ребенку, если он часто болеет, у него неправильная осанка, отмечается гиперактивность.
					.left-butn-holder
						a.butn.butn_violet(href="#order" data-toggle='modal') Записаться на тренировку
				.col-md-6
					.img
						img(src='img/img-about2.png' alt='')
	section.contacts.bg.bg_yellow
		.section-title
			span.arows Как нас найти
		.map-wrap
			.container.map-info-holder
				.map-info
					.map-info__item
						a.location(href='https://goo.gl/maps/DwvyKRnDWor' target='_blank') <b>г. Москва, Северное Бутово</b>
							| Б-р Дмитрия Донского, дом 16
					.map-info__item
						a.phone(href="tel:+89268982252" rel="nofollow") 8 926
							span 898-22-52
			#map