footer
    .container
        .footer-item
            ul.soc
                li
                    a.vk(href='#' target='_blank' rel="nofollow")
                li
                    a.ins(href='#' target='_blank' rel="nofollow")
                li
                    a.fb(href='#' target='_blank' rel="nofollow")
        .footer-item
            .copyright &copy; Спорт и Праздник, 2017
        .footer-item
            a.ddlogo(href='http://deepdesign.com.ua/' target='_blank' rel="nofollow")
.line
    span
    span
    span
    span
    span
    span

.modal-graveyard
    #order.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-form
            .modal-content
                .close-x(role='button', data-dismiss='modal')
                .modal-title Записаться на тренировку
                .modal-subtitle Заполните форму ниже и наш менеджер свяжется с вами в самое ближайшее время
                .form-wrapper
                    form#orderForm(method='POST', onsubmit='return false')
                        .input-row
                            input.valid(type='text', name='name', placeholder='Имя' required)
                        .input-row
                            input.valid(type='tel', name='tel', data-mask='+7-(000)-000-00-00', placeholder='Tелефон' required)
                        .input-row
                            input(type='text', name='time', placeholder='Удобное время звонка (необязательно)')
                        .input-row
                            input.valid(type='text', name='group', placeholder='Выбранное направление' required)
                        .input-row
                            textarea.comment(name='message', placeholder='Комментарий (необязательно)')
                        .butn-row
                            button.butn(type='submit', data-rel='orderForm') Отправить
    #orderPraz.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-form
            .modal-content
                .close-x(role='button', data-dismiss='modal')
                .modal-title Заявка
                .modal-subtitle Заполните форму ниже и наш менеджер свяжется с вами в самое ближайшее время
                .form-wrapper
                    form#orderFormPraz(method='POST', onsubmit='return false')
                        .input-row
                            input.valid(type='text', name='name', placeholder='Имя' required)
                        .input-row
                            input.valid(type='tel', name='tel', data-mask='+7-(000)-000-00-00', placeholder='Tелефон' required)
                        .input-row
                            input(type='text', name='time', placeholder='Удобное время звонка (необязательно)')
                        .input-row
                            input.valid(type='text', name='group', placeholder='Выбранное направление' required)
                        .input-row
                            textarea.comment(name='message', placeholder='Комментарий (необязательно)')
                        .butn-row
                            button.butn(type='submit', data-rel='orderFormPraz') Отправить
    #thanks.modal.modalthank.my-modal.fade.popup(role='dialog')
        .modal-dialog
            .modal-content.modal-form
                .close-x(role='button', data-dismiss='modal')
                .modal-title  Спасибо!
                .modal-subtitle-bold  Ваша заявка отправлена успешно!
                .modal-subtitle Наш менеджер свяжется с вами в самое ближайшее время
                .butn-row
                    button.butn(type='button', data-dismiss='modal') OK
    #coach1.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content
                .close-x(role='button', data-dismiss='modal')
                .coach
                    .coach__img
                        img(src='img/img-team-unit1.png' alt='')
                    .coach__about
                        .coach__label Художественная гимнастик
                        .coach__name Екатерина Иванова
                        .coach__text
                            p
                                b Мастер спорта по художественной гимнастике РФ.
                            p Воспитанница спортивной школы олимпийского резерва #24 под руководством заслуженого тренера РФ Минаевой Людмилы Леонидовны.
                            p Многократная чемпионка первенств и чемпионатов г. Москвы в групповых упражнениях, призер и участник международных соревнований.
                            p Выпускница РГУФКСМиТ, специализация «Спортивный психолог». Студентка РГУФКСМиТ, Специализация«Спорт высших достижений»
                            p Стаж работы: 4 года.
                        .coach__butn
                            a.butn(href="#order" data-toggle='modal' data-dismiss='modal') Записаться на тренировку
    #coach2.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content
                .close-x(role='button', data-dismiss='modal')
                .coach
                    .coach__img
                        img(src='img/img-team-unit2.png' alt='')
                    .coach__about
                        .coach__label Художественная гимнастика
                        .coach__name Екатерина Иванова
                        .coach__text
                            p
                                b Мастер спорта по художественной гимнастике РФ.
                            p Воспитанница спортивной школы олимпийского резерва #24 под руководством заслуженого тренера РФ Минаевой Людмилы Леонидовны.
                            p Многократная чемпионка первенств и чемпионатов г. Москвы в групповых упражнениях, призер и участник международных соревнований.
                            p Выпускница РГУФКСМиТ, специализация «Спортивный психолог». Студентка РГУФКСМиТ, Специализация«Спорт высших достижений»
                            p Стаж работы: 4 года.
                        .coach__butn
                            a.butn(href="#order" data-toggle='modal' data-dismiss='modal') Записаться на тренировку#coach2.modal.my-modal.fade.popup(role='dialog')

    #type1.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content.modal-content_group
                .close-x(role='button', data-dismiss='modal')
                .coach-group
                    .coach__label Для детей с 3х лет
                    .coach__name Художественная гимнастика
                    .coach__butn
                        a.butn(href="#order" data-toggle='modal' data-dismiss='modal') Записаться на тренировку
                    .coach__text
                        P
                            b В работе с группами начальной подготовки (новичками) мы подобрали большое количество интересных физических упражнений с применением разнообразных гимнастических предметов, что показывает разнообразие по форме и содержанию упражнения для укрепления мышц и развития координации движений детей дошкольного возраста.
                        p Цель предлагаемых упражнений – правильное физическое развитие детей и своевременное предупреждение нарушений осанки и деформаций скелета. Большое внимание уделяется и укреплению мышц стопы для предупреждения плоскостопия. Тренерами используются интересные педагогические приемы – проведение тренировок под музыкальное сопровождение, в виде игры и заданий без предварительного показа, с использованием предметов – ленты и мяча в различных сочетаниях. Предлагая юным гимнасткам упражнения, мы не забываем и о значении этих упражнений для воспитания положительных черт характера: смелости, находчивости, а также умения действовать в коллективе. Мы обеспечиваем индивидуальный подход к каждому ребенку, благодаря формированию групп малой численности. Обучение детей производится на высшем профессиональном уровне.
                .modal-slider-full-width
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider1.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider2.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider3.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider4.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider5.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider6.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider7.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider8.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider9.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                .modal-links.clearfix
                    a.prev(data-dismiss='modal' href='#type3' data-toggle='modal' ) <span>Смешанные единоборства + общая физподготовка</span>
                    a.next(href='#type2' data-toggle='modal' data-dismiss='modal') <span>Общая физическая подготовка</span>
    #type2.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content.modal-content_group
                .close-x(role='button', data-dismiss='modal')
                .coach-group
                    .coach__label Для детей с 4х лет
                    .coach__name Общая физическая подготовка
                    .coach__butn
                        a.butn(href="#order" data-toggle='modal' data-dismiss='modal') Записаться на тренировку
                    .coach__text
                        P
                            b В работе с группами начальной подготовки (новичками) мы подобрали большое количество интересных физических упражнений с применением разнообразных гимнастических предметов, что показывает разнообразие по форме и содержанию упражнения для укрепления мышц и развития координации движений детей дошкольного возраста.
                        p Цель предлагаемых упражнений – правильное физическое развитие детей и своевременное предупреждение нарушений осанки и деформаций скелета. Большое внимание уделяется и укреплению мышц стопы для предупреждения плоскостопия. Тренерами используются интересные педагогические приемы – проведение тренировок под музыкальное сопровождение, в виде игры и заданий без предварительного показа, с использованием предметов – ленты и мяча в различных сочетаниях. Предлагая юным гимнасткам упражнения, мы не забываем и о значении этих упражнений для воспитания положительных черт характера: смелости, находчивости, а также умения действовать в коллективе. Мы обеспечиваем индивидуальный подход к каждому ребенку, благодаря формированию групп малой численности. Обучение детей производится на высшем профессиональном уровне.
                .modal-slider-full-width
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider1.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider2.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider3.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider4.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider5.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider6.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider7.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider8.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider9.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                .modal-links.clearfix
                    a.prev(data-dismiss='modal' href='#type1' data-toggle='modal' ) <span>Художественная гимнастика</span>
                    a.next(href='#type3' data-toggle='modal' data-dismiss='modal') <span>Смешанные единоборства + общая физподготовка</span>

    #type3.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content.modal-content_group
                .close-x(role='button', data-dismiss='modal')
                .coach-group
                    .coach__label с 8 до 3х лет
                    .coach__name Смешанные единоборства + общая физподготовка
                    .coach__butn
                        a.butn(href="#order" data-toggle='modal' data-dismiss='modal') Записаться на тренировку
                    .coach__text
                        P
                            b В работе с группами начальной подготовки (новичками) мы подобрали большое количество интересных физических упражнений с применением разнообразных гимнастических предметов, что показывает разнообразие по форме и содержанию упражнения для укрепления мышц и развития координации движений детей дошкольного возраста.
                        p Цель предлагаемых упражнений – правильное физическое развитие детей и своевременное предупреждение нарушений осанки и деформаций скелета. Большое внимание уделяется и укреплению мышц стопы для предупреждения плоскостопия. Тренерами используются интересные педагогические приемы – проведение тренировок под музыкальное сопровождение, в виде игры и заданий без предварительного показа, с использованием предметов – ленты и мяча в различных сочетаниях. Предлагая юным гимнасткам упражнения, мы не забываем и о значении этих упражнений для воспитания положительных черт характера: смелости, находчивости, а также умения действовать в коллективе. Мы обеспечиваем индивидуальный подход к каждому ребенку, благодаря формированию групп малой численности. Обучение детей производится на высшем профессиональном уровне.
                .modal-slider-full-width
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider1.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider2.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider3.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider4.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider5.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider6.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider7.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider8.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider9.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                .modal-links.clearfix
                    a.prev(href='#type2' data-toggle='modal' data-dismiss='modal' ) <span>Общая физическая подготовка</span>
                    a.next(href='#type1' data-toggle='modal' data-dismiss='modal') <span>Художественная гимнастика</span>
    #typePraz1.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content.modal-content_group
                .close-x(role='button', data-dismiss='modal')
                .coach-group
                    .coach__label Для детей 7 лет и старше
                    .coach__name Мыльные пузыри на праздник
                    .coach__butn
                        a.butn(href="#orderPraz" data-toggle='modal' data-dismiss='modal') Отправить заявку
                    .coach__text
                        P
                            b Надоели серые будни? Хочется тепла, солнышка и красочного веселья? Тогда наша гавайская вечеринка именно то, что Вам нужно! Всех девчонок и мальчишек мы приглашаем на Гавайи. На самую зажигательную вечеринку года. Море позитива, океан веселья, реки смеха и ручьи задора прольются в течение нашей вечеринки! Все гости окунуться в атмосферу безудержного жаркого праздника!
                        p На гавайской вечеринки всех гостей ждет перевоплощение в жителей острова с помощью ярких костюмов, реквизита и аквагримма. Национальные игры и конкурсы, дискотека и даже солнечные ванны - вот что ожидает участников праздника!
                        p Для начала все новоиспеченные гавайцы пройдут обряд посвящения в самых задорных жителей (под опытным руководством наших гавайских инструкторов). Далее выучат клятву и гимн солнечной жизни. Все участники освоят азы серфа, попробуют поймать калуа, научатся брить кокосы, устроят яркий шейк, разучат игру лимбо, сразятся в знание теплых песен и устроят гавайскую дискотеку. Сценарий праздничной программы изменяется в зависимости от возраста и количества участников.
                .modal-slider-full-width
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider1.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider2.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider3.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider4.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider5.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider6.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider7.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider8.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider9.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                .modal-links.clearfix
                    a.prev(data-dismiss='modal' href='#typePraz4' data-toggle='modal' ) <span>Программа «Гавайская вечеринка»</span>
                    a.next(href='#typePraz2' data-toggle='modal' data-dismiss='modal') <span>Аниматоры на День Рождения</span>
    #typePraz2.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content.modal-content_group
                .close-x(role='button', data-dismiss='modal')
                .coach-group
                    .coach__label Для детей 7 лет и старше
                    .coach__name Аниматоры на День Рождения
                    .coach__butn
                        a.butn(href="#orderPraz" data-toggle='modal' data-dismiss='modal') Отправить заявку
                    .coach__text
                        P
                            b Надоели серые будни? Хочется тепла, солнышка и красочного веселья? Тогда наша гавайская вечеринка именно то, что Вам нужно! Всех девчонок и мальчишек мы приглашаем на Гавайи. На самую зажигательную вечеринку года. Море позитива, океан веселья, реки смеха и ручьи задора прольются в течение нашей вечеринки! Все гости окунуться в атмосферу безудержного жаркого праздника!
                        p На гавайской вечеринки всех гостей ждет перевоплощение в жителей острова с помощью ярких костюмов, реквизита и аквагримма. Национальные игры и конкурсы, дискотека и даже солнечные ванны - вот что ожидает участников праздника!
                        p Для начала все новоиспеченные гавайцы пройдут обряд посвящения в самых задорных жителей (под опытным руководством наших гавайских инструкторов). Далее выучат клятву и гимн солнечной жизни. Все участники освоят азы серфа, попробуют поймать калуа, научатся брить кокосы, устроят яркий шейк, разучат игру лимбо, сразятся в знание теплых песен и устроят гавайскую дискотеку. Сценарий праздничной программы изменяется в зависимости от возраста и количества участников.
                .modal-slider-full-width
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider1.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider2.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider3.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider4.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider5.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider6.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider7.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider8.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider9.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                .modal-links.clearfix
                    a.prev(href='#typePraz1' data-toggle='modal' data-dismiss='modal') <span>Мыльные пузыри на праздник </span>
                    a.next(href='#typePraz3' data-toggle='modal' data-dismiss='modal') <span>Программа «Форт Боярд»</span>
    #typePraz3.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content.modal-content_group
                .close-x(role='button', data-dismiss='modal')
                .coach-group
                    .coach__label Для детей 7 лет и старше
                    .coach__name Программа «Форт Боярд»
                    .coach__butn
                        a.butn(href="#orderPraz" data-toggle='modal' data-dismiss='modal') Отправить заявку
                    .coach__text
                        P
                            b Надоели серые будни? Хочется тепла, солнышка и красочного веселья? Тогда наша гавайская вечеринка именно то, что Вам нужно! Всех девчонок и мальчишек мы приглашаем на Гавайи. На самую зажигательную вечеринку года. Море позитива, океан веселья, реки смеха и ручьи задора прольются в течение нашей вечеринки! Все гости окунуться в атмосферу безудержного жаркого праздника!
                        p На гавайской вечеринки всех гостей ждет перевоплощение в жителей острова с помощью ярких костюмов, реквизита и аквагримма. Национальные игры и конкурсы, дискотека и даже солнечные ванны - вот что ожидает участников праздника!
                        p Для начала все новоиспеченные гавайцы пройдут обряд посвящения в самых задорных жителей (под опытным руководством наших гавайских инструкторов). Далее выучат клятву и гимн солнечной жизни. Все участники освоят азы серфа, попробуют поймать калуа, научатся брить кокосы, устроят яркий шейк, разучат игру лимбо, сразятся в знание теплых песен и устроят гавайскую дискотеку. Сценарий праздничной программы изменяется в зависимости от возраста и количества участников.
                .modal-slider-full-width
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider1.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider2.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider3.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider4.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider5.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider6.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider7.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider8.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider9.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                .modal-links.clearfix
                    a.prev(href='#typePraz2' data-toggle='modal' data-dismiss='modal') <span>Аниматоры на День Рождения</span>
                    a.next(href='#typePraz4' data-toggle='modal' data-dismiss='modal') <span>Программа «Гавайская вечеринка»</span>
    #typePraz4.modal.my-modal.fade.popup(role='dialog')
        .modal-dialog.modal-dialog_coach
            .modal-content.modal-content_group
                .close-x(role='button', data-dismiss='modal')
                .coach-group
                    .coach__label Для детей 7 лет и старше
                    .coach__name Программа «Гавайская вечеринка»
                    .coach__butn
                        a.butn(href="#orderPraz" data-toggle='modal' data-dismiss='modal') Отправить заявку
                    .coach__text
                        P
                            b Надоели серые будни? Хочется тепла, солнышка и красочного веселья? Тогда наша гавайская вечеринка именно то, что Вам нужно! Всех девчонок и мальчишек мы приглашаем на Гавайи. На самую зажигательную вечеринку года. Море позитива, океан веселья, реки смеха и ручьи задора прольются в течение нашей вечеринки! Все гости окунуться в атмосферу безудержного жаркого праздника!
                        p На гавайской вечеринки всех гостей ждет перевоплощение в жителей острова с помощью ярких костюмов, реквизита и аквагримма. Национальные игры и конкурсы, дискотека и даже солнечные ванны - вот что ожидает участников праздника!
                        p Для начала все новоиспеченные гавайцы пройдут обряд посвящения в самых задорных жителей (под опытным руководством наших гавайских инструкторов). Далее выучат клятву и гимн солнечной жизни. Все участники освоят азы серфа, попробуют поймать калуа, научатся брить кокосы, устроят яркий шейк, разучат игру лимбо, сразятся в знание теплых песен и устроят гавайскую дискотеку. Сценарий праздничной программы изменяется в зависимости от возраста и количества участников.
                .modal-slider-full-width
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider1.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider1.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider2.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider2.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider3.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider3.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider4.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider4.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider5.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider6.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider6.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider7.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider8.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider8.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider9.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider9.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='img/img-fwslider10.png', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                    .slider-full-width__item
                        a.slider-full-width__img(href='https://www.youtube.com/watch?v=NpEaa2P7qZI', data-fancybox='gal-1')
                            img(src='img/img-fwslider10.png' alt='')
                .modal-links.clearfix
                    a.prev(href='#typePraz3' data-toggle='modal' data-dismiss='modal') <span>Программа «Форт Боярд»</span>
                    a.next(href='#typePraz1' data-toggle='modal' data-dismiss='modal') <span>Мыльные пузыри на праздник</span>
