header
	.line
		span
		span
		span
		span
		span
		span
	.container
		.header-wrap
			.header__item
				a.logo(href='#')
					img(src="img/logo.png", alt="logo")
			.header__item
				a.location(href='https://goo.gl/maps/DwvyKRnDWor' rel="nofollow" target='_blank') г. Москва, б-р Дмитрия Донского, д. 16
			.header__item
				a.phone(href="tel:+89268982252" rel="nofollow") 8 926
					span 898-22-52
			.header__item
				a.butn(href="#order" data-toggle='modal') Записаться на тренировку