doctype html
html(lang='ru')
	head
		include ./_head.jade
	body
		include ./components/_header.jade
		include ./components/_content.jade
		include ./components/_footer.jade
		//-scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.mask.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCyM3jCFUVcLC7fUrjcEE50AkCtc61DEeA&callback=initMap')
		script(src="js/map.js")
		//- endinject