/*--== buttons ==--*/
.butn {
    display: inline-block;
    min-width: 160px; // height: 60px;
    border-radius: 60px;
    background-color: #f05f5c;
    padding: 21px;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    border: none;
    @include trans;
    &:hover {
        text-decoration: none;
        color: #fff;
        background: $c-violet;
    }
    &_violet{
        background: $c-violet;
        &:hover {
            background-color: #f05f5c;
        }
    }
    &_hover-green{
        &:hover {
            background-color: #93c758;
        }

    }
    @include bp(767){
        padding: 15px;
    }
    &:focus{
        color: #fff;
    }
}

.center-butn-holder {
    text-align: center;
}
/*--== /buttons ==--*/
