footer {
    background: #fff;
    padding: 10px 0;
    .container {
        @include jusWrap;
    }
}

.footer-item {
    display: inline-block;
    vertical-align: middle;
    @include bp(767) {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

.soc {
    list-style: none;
    li {
        display: inline-block;
        + li {
            margin-left: 10px;
        }
    }
    a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        @include trans;
        &:hover {
            transform: rotate(360deg);
        }
    }
    .vk {
        background-color: #50c1c7;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2229%22%20height%3D%2218%22%20viewBox%3D%220%200%2029%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M437.8%209171.99c.24.46.25%201%200%201.41-.2.35-.55.56-.95.58h-3.51a3.26%203.26%200%200%201-2.6-1l-.97-1.01-.44-.48a2.86%202.86%200%200%200-.53-.46c-.12-.07-.22-.1-.28-.09-.05.02-.12.09-.18.2-.22.38-.28.81-.3%201.35-.06%201.03-.5%201.45-1.6%201.5h-.61c-1.78%200-3.3-.36-4.66-1.1-1.29-.71-2.4-1.71-3.52-3.16a40.23%2040.23%200%200%201-4.48-7.67c-.22-.46-.23-.84-.03-1.14.2-.3.56-.46%201.08-.47%201.1-.02%202.23-.02%203.44%200%20.64.01%201.14.36%201.4.98a19.6%2019.6%200%200%200%202.27%204.04c.22.3.45.6.75.8l.11.06a.54.54%200%200%200%20.06-.1c.08-.2.13-.43.16-.73.1-1.12.09-2.05-.05-2.92-.07-.45-.3-.68-.72-.76-.13-.02-.5-.09-.62-.43-.13-.33.12-.6.2-.71.32-.36.72-.68%201.46-.68h4.05c.99.2%201.15.8%201.24%201.4v4.29c0%20.19.12.55.23.61.05-.02.16-.13.22-.2l.05-.04c.95-.98%201.61-2.15%202.13-3.17.28-.53.51-1.08.71-1.56.25-.6.7-.9%201.36-.9l3.8.01c.13%200%20.27%200%20.42.03.3.05.73.16.97.52.23.37.13.78.04%201.06a9.07%209.07%200%200%201-1.52%202.57l-.06.09-.92%201.18c-.34.43-.7.88-1.02%201.32-.22.3-.32.5-.3.63%200%20.14.14.33.42.59l.64.58c.6.54%201.2%201.1%201.75%201.72.3.35.64.77.9%201.26zm-.9.44c-.21-.4-.51-.78-.78-1.08-.5-.59-1.07-1.1-1.67-1.65l-.64-.59c-.9-.84-.97-1.49-.24-2.46.33-.45.7-.9%201.04-1.34l.9-1.16.07-.1a8.26%208.26%200%200%200%201.37-2.28.74.74%200%200%200%20.05-.28.79.79%200%200%200-.28-.08%201.65%201.65%200%200%200-.25-.01H432.66c-.23%200-.32.03-.42.28-.21.5-.45%201.07-.74%201.63a13.56%2013.56%200%200%201-2.31%203.4l-.04.04c-.22.23-.64.66-1.27.46h-.01c-.7-.25-.9-1.14-.89-1.54v-4.17a1.1%201.1%200%200%200-.12-.42c-.02-.02-.06-.08-.28-.13h-3.9a.82.82%200%200%200-.38.08c.58.25.94.73%201.04%201.41.15.94.17%201.94.06%203.15-.03.4-.11.72-.23%201-.2.45-.49.61-.7.67-.2.06-.54.07-.95-.2-.45-.3-.76-.7-1-1.04a20.46%2020.46%200%200%201-2.38-4.23c-.14-.33-.33-.38-.5-.38-1.2-.02-2.31-.02-3.4%200a.9.9%200%200%200-.24.03c0%20.04.02.11.07.23a39.3%2039.3%200%200%200%204.38%207.5%2010.31%2010.31%200%200%200%203.21%202.89%208.75%208.75%200%200%200%204.74.97c.38-.02.5-.07.53-.1.03-.03.09-.12.1-.48.04-.58.1-1.2.44-1.77.25-.45.58-.6.81-.66.23-.06.6-.07%201.06.21.3.19.53.42.72.62l.46.48c.3.32.61.66.93.97a2.24%202.24%200%200%200%201.87.73h3.48c.03%200%20.09-.02.13-.1.06-.1.1-.3-.02-.5zm-20.49-8.84a.52.52%200%200%201-.67-.21l-.22-.43a.47.47%200%200%201%20.23-.64.5.5%200%200%201%20.66.22l.22.42c.13.23.03.52-.22.64zm3.24%204.99a.5.5%200%200%201-.3.1.5.5%200%200%201-.4-.2%2032.52%2032.52%200%200%201-2.4-3.64.47.47%200%200%201%20.2-.64.5.5%200%200%201%20.67.18%2031.51%2031.51%200%200%200%202.34%203.53c.16.21.11.51-.1.67z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-411%20-9158)%22%2F%3E%3C%2Fsvg%3E');

    }
    .ins {
        background-color: #f16b68;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M488%209162.42v10.15c0%204.1-3.34%207.43-7.44%207.43h-10.12a7.44%207.44%200%200%201-7.44-7.43v-10.15c0-4.1%203.34-7.42%207.44-7.42h10.12c4.1%200%207.44%203.33%207.44%207.42zm-1%200c0-3.54-2.89-6.43-6.44-6.43h-10.12a6.44%206.44%200%200%200-6.44%206.43v10.15c0%203.55%202.89%206.43%206.44%206.43h10.12a6.44%206.44%200%200%200%206.44-6.43zm-1.85%200v10.15a4.59%204.59%200%200%201-4.6%204.58h-10.1a4.59%204.59%200%200%201-4.6-4.58v-10.15a4.59%204.59%200%200%201%204.6-4.58h10.1a4.59%204.59%200%200%201%204.6%204.58zm-1%200a3.59%203.59%200%200%200-3.6-3.58h-10.1c-1.99%200-3.6%201.6-3.6%203.58v10.15a3.59%203.59%200%200%200%203.6%203.59h10.1c1.99%200%203.6-1.61%203.6-3.59zm-2.2%205.08a6.45%206.45%200%200%201-12.9%200%206.45%206.45%200%200%201%2012.9%200zm-1%200a5.45%205.45%200%200%200-10.9%200%205.45%205.45%200%200%200%2010.9%200zm-1.78%200a3.67%203.67%200%201%201-7.34-.02%203.67%203.67%200%200%201%207.34.02zm-1%200a2.67%202.67%200%201%200-5.34.01%202.67%202.67%200%200%200%205.34-.01zm4.97-6.08a1.55%201.55%200%201%201-3.1%200%201.55%201.55%200%200%201%203.1%200zm-1%200a.55.55%200%201%200-.55.55c.3%200%20.56-.25.56-.55zm-6.94%2016.69a.5.5%200%200%201-.5.5H470a.5.5%200%201%201%200-1h4.7c.28%200%20.5.22.5.5zm1.9%200a.5.5%200%200%201-.5.5h-.3a.5.5%200%201%201%200-1h.3c.27%200%20.5.22.5.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-461%20-9153)%22%2F%3E%3C%2Fsvg%3E');
    }
    .fb {
        background-color: #5c6bc0;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2228%22%20viewBox%3D%220%200%2017%2028%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M528.16%209161.07v2h2.96a.88.88%200%200%201%20.87.99l-.45%203.99a.88.88%200%200%201-.87.78h-2.5v10.28c0%20.49-.4.89-.88.89h-4.42a.88.88%200%200%201-.88-.89v-10.33h-2.11a.88.88%200%200%201-.88-.89v-3.93c0-.5.4-.89.88-.89h2.24v-2.38a4.66%204.66%200%200%201%201.52-4.08%206.43%206.43%200%200%201%204.38-1.6h3.1c.49%200%20.88.39.88.88v3.66c0%20.48-.4.88-.88.88h-2.25c-.6%200-.7.23-.7.64zm-.98%202.5v-2.5c0-1.02.63-1.64%201.69-1.64H531V9156h-3.13c-.5%200-2.21.1-3.56%201.34a3.63%203.63%200%200%200-1.2%203.3v2.93a.5.5%200%200%201-.5.5H520v3.71h2.5a.5.5%200%200%201%20.49.5V9179h4.2v-10.67c0-.27.22-.5.5-.5h2.89l.43-3.76h-3.33a.5.5%200%200%201-.5-.5zm-2.72%208.7v.26a.5.5%200%200%201-.49.5.5.5%200%200%201-.5-.5v-.25c0-.28.23-.5.5-.5s.5.22.5.5zm0%201.85v3.79a.5.5%200%200%201-.49.5.5.5%200%200%201-.5-.5v-3.79c0-.27.23-.5.5-.5s.5.23.5.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-517%20-9153)%22%2F%3E%3C%2Fsvg%3E');

    }
}

.copyright {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.ddlogo {
    display: block;
    width: 229px;
    height: 60px;
    background-image: url(../img/dd-logo.png);
    background-size: cover;
    @include bp(767) {
        display: inline-block;
    }
}

.modal-content {
    box-shadow: none;
    border-radius: 0;
    padding: 60px;
    position: relative;
    @media (max-width: 580px) {
        padding: 40px 30px;
    }
}


.modal-title {
    color: #6a45b6;
    font-family: 'Neucha', cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-bottom: 12px;
    @media (max-width: 580px) {
        font-size: 24px;
    }

}

.modal-subtitle {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 18px;
}

.modal-subtitle-bold {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.input-row {
    position: relative;
    margin-bottom: 20px;
    input, textarea {
        width: 100%;
        padding: 24px 20px 11px;
        border: 2px solid #6a45b6;
        color: #333;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        background: #fff;
        @media (max-width: 580px) {
            font-size: 16px;
            padding: 24px 15px 11px;
        }
    }
    textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 180px;
        max-height: 250px;

    }
    input:focus, textarea:focus {
        outline: none;

    }
    input + label, textarea + label {
        pointer-events: none;
        color: #6a45b6;
        font-size: 18px;
        line-height: 1;
        display: block;
        transition: .15s ease-out all;
        position: absolute;
        top: 21px;
        left: 20px;
        right: 20px;
        margin-bottom: 0;
        @media (max-width: 580px) {
            font-size: 16px;
            left: 15px;
            right: 15px;
        }
    }
    input:focus + label, textarea:focus + label,
    label.stay {
        top: 9px;
        font-size: 14px;
        @media (max-width: 580px) {
            top: 3px;
            font-size: 12px;
        }
    }
    .red-input {
        border-color: #f05f5c;
        + label {
            color: #f05f5c;
        }
    }
}

fieldset {
    padding: 0;
}

.butn-row {
    padding-top: 10px;
    .butn {
        width: 100%;
    }
}

.modal-form {
    max-width: 540px;
    @include bp(767) {
        max-width: initial;

    }
}

.close-x {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 15px;
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2234%22%20height%3D%2234%22%20viewBox%3D%220%200%2034%2034%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1180.12%20151.07c-.2.19-.12.88.05%201.26.35.74%201.06.95%201.78.91a9.91%209.91%200%200%200%206.06-2.47c2.49-2.1%205.06-4.12%207.44-6.34l.06.05%201.25%201.5c2.71%203.09%205.55%206.03%208.9%208.46.94.7%202.14.87%203.09-.22.87-.98.96-2.24.23-3.18-1.32-1.7-2.63-3.44-4.18-4.94-1.89-1.83-3.9-3.54-5.88-5.28.2-.22.38-.42.55-.64.5-.41%201.01-.82%201.5-1.25%203.1-2.71%206.04-5.55%208.47-8.9.7-.94.87-2.13-.22-3.08-.98-.87-2.24-.96-3.18-.24-1.7%201.33-3.44%202.64-4.94%204.18-1.9%201.96-3.66%204-5.44%206.05-3.13-4.44-7.48-7.78-11.06-11.82-.19-.2-.88-.13-1.26.05-.74.34-.95%201.05-.92%201.78a9.9%209.9%200%200%200%202.48%206.05c2.11%202.5%204.15%205.1%206.39%207.49-4.13%203.07-7.34%207.17-11.17%2010.58z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%236a45b6%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1178%20-123)%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: contain;
    @include trans;
    &:hover {
        transform: rotate(180deg);
    }
}




.coach {
    padding-left: 220px;
    position: relative;
    &__img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__label {
        display: inline-block;
        background-color: #50c1c7;
        padding: 7px 10px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        margin-bottom: 25px;
        &:before, &:after {
            @include pseudo;
            left: 100%;
        }
        &:before {
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 16px 16px 0 0;
            border-color: #50c1c7 transparent transparent transparent;
        }
        &:after {
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 16px 0 0 16px;
            border-color: transparent transparent transparent #50c1c7;
        }
    }
    &__name {
        color: #6a45b6;
        font-family: 'Neucha', cursive;
        font-size: 45px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 25px;
        @media (max-width: 480px){
            font-size: 30px;
        }
    }
    &__text {
        color: #333;
        font-size: 18px;
        line-height: 1.4;
        p {
            margin-bottom: 8px;
        }
    }
    &__butn {
        padding-top: 30px;

    }
    @media(max-width:767px){
        padding-left: 0;
        .coach__img{
            position: static;
            margin:0 auto 30px;
        }
    }
}
.coach-group{
    .coach__name{
        margin-bottom: 17px;
    }
    .coach__butn{
        padding-top: 0;
        margin-bottom: 30px;
    }
}

.modal-slider-full-width{
    padding: 0 60px;
    margin-top: 30px;
    .slick-arrow{
        span{
            svg{
                fill: #93c758;
            }
        }
        &:hover{
            span{
                svg{
                    fill: #81ba52;
                }
            }
        }
    }
    @media (max-width: 480px){
        padding: 0 30px;
    }
}
.modal-dialog_coach {
    width: 1100px;
    max-width: 96%;
}
.modal-content_group{
    padding: 60px 0;
    .coach-group{
        padding: 0 60px;
    }
    @media (max-width: 480px){
        padding: 40px 0;
        .coach-group{
            padding: 0 30px;
        }
    }
}
.modal-links{
    padding: 30px 60px 0;
    a{
        display: inline-block;
        line-height: 1;
        font-size: 16px;
        position: relative;
        span{
            display: inline-block;
        }
        &:before{
            @include pseudo;
            width: 28px;
            height: 19px;
            top: 0;
            background-repeat: no-repeat;
            background-size: contain;

        }
    }
    .prev{
        float: left;
        padding-left: 40px;
        color: #6a45b6;
        span{
            border-bottom: 1px dotted #6a45b6;
        }
        &:before{
            background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2221%22%20viewBox%3D%220%200%2032%2021%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M491.52%202157.24a8.27%208.27%200%200%200-4.1-1.24c-3.55-.22-7.1-.56-10.65-.31l-1.33-.08c-2.22-.1-4.44-.15-6.65%200%201.83-1.76%203.47-3.77%205.3-5.53.13-.12.13-.5.05-.7-.14-.39-.5-.46-.88-.4-1.26.22-2.38.9-3.34%201.79-1.87%201.72-3.78%203.38-5.5%205.26l-.04.03a1.5%201.5%200%200%200%20.03%202.05c.44.44.87.86%201.33%201.28l.75.91c1.62%201.9%203.3%203.74%205.21%205.31.54.45%201.19.62%201.62.09.4-.49.36-1.18-.08-1.77-.8-1.03-1.6-2.09-2.51-3.02-.91-.94-1.86-1.84-2.8-2.74%201.18.1%202.37.2%203.55.18%202.36-.03%204.7-.18%207.06-.28%204.22.89%208.54.38%2012.8.56.2%200%20.5-.26.6-.45.18-.38-.06-.7-.42-.94z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%236a45b6%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-462%20-2147)%22%2F%3E%3C%2Fsvg%3E');
            left: 0;
        }
    }
    .next{
        float: right;
        position: relative;
        padding-right: 40px;
        color: #f16b68;
        span{
            border-bottom: 1px dotted #f16b68;
        }
        &:before{
            background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2221%22%20viewBox%3D%220%200%2032%2021%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1427.48%202157.24a8.27%208.27%200%200%201%204.1-1.24c3.55-.22%207.1-.56%2010.65-.31l1.33-.08c2.22-.1%204.44-.15%206.65%200-1.83-1.76-3.47-3.77-5.3-5.53-.13-.12-.13-.5-.05-.7.14-.39.5-.46.88-.4%201.26.22%202.38.9%203.34%201.79%201.87%201.72%203.78%203.38%205.5%205.26l.04.03a1.5%201.5%200%200%201-.03%202.05c-.44.44-.87.86-1.33%201.28l-.75.91a42.87%2042.87%200%200%201-5.21%205.31c-.54.45-1.19.62-1.62.09-.4-.49-.36-1.18.08-1.77.8-1.03%201.6-2.09%202.51-3.02.91-.94%201.86-1.84%202.8-2.74-1.18.1-2.37.2-3.55.18-2.36-.03-4.7-.18-7.06-.28-4.22.89-8.54.38-12.8.56-.2%200-.5-.26-.6-.45-.18-.38.06-.7.42-.94z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23f16b68%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1425%20-2147)%22%2F%3E%3C%2Fsvg%3E');
            right: 0;
        }
    }
    @media (max-width: 780px) {
        padding: 30px 10px 0;
        a{
            float: none!important;
            display: block;
            max-width: 300px;
            margin-left:auto;
            margin-right: auto;
            &.prev{
                margin-bottom: 20px;
            }

            span{
                border: none!important;
            }
        }
    }
}
/*------fix issue fixed nav + bs modal------*/
//body{
//    padding-right: 0!important;
//}
//body.modal-open {
//    padding-right: 0!important;
//}
body.modal-open {
    //width: 100% !important;
    //padding-right: 0 !important;
    //overflow-y: scroll !important;
    //position: fixed !important;
}

.modal-backdrop.in {
    opacity: .9;
}
.modal{
    display: block!important;
    height: 0;
    &.in{
        height: auto;
        overflow-y: auto;


    }
}
.modal-open-custom{
    overflow: hidden;
}


/*------------------------------------------*/