.line {
    font-size: 0;
    line-height: 0;
    span {
        display: inline-block;
        height: 5px;
        width: 16.6666666%;

        &:nth-child(1) {
            background-color: #c580b7;
        }

        &:nth-child(2) {
            background-color: #f8c118;
        }

        &:nth-child(3) {
            background-color: #f05f5c;
        }

        &:nth-child(4) {
            background-color: #93c758;
        }

        &:nth-child(5) {
            background-color: #50c1c7;
        }

        &:nth-child(6) {
            background-color: #5c6bc0;
        }
    }
}
header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 999;
    @include bp(991){
        position: static;
        .header-wrap {
            padding: 15px 0;
        }
    }
    @media (max-width: 580px){
        .butn{
            font-size: 16px;
        }
    }
}

.header-wrap {
    padding: 30px 0;
    @include jusWrap;
    @include trans;
}

.header__item {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    @include bp(1199){
        a{
            font-size: 16px;
            span{
                font-size: 18px;
            }
        }
    }
    @include bp(991){
        width: 50%;
        &:nth-child(1),&:nth-child(2){
            margin-bottom: 15px;
        }
        &:nth-child(2),  &:nth-child(4){
            text-align: right;
        }
    }
    @media (max-width: 524px) {
        display: block;
        width: 100%;
        text-align: center!important;
        &:nth-child(3){
            margin-bottom: 15px;
        }
    }
}

.location {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    display: inline-block;
    padding-left: 30px;
    text-align: left;
    position: relative;
    color: #333;
    max-width: 232px;
    &:before {
        @include pseudo;
        width: 19px;
        height: 25px;
        left: 0;
        top: 0;
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2221%22%20height%3D%2227%22%20viewBox%3D%220%200%2021%2027%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M703.34%2042.47c1.7%202.09%201.8%204.68%201.57%206.5a24.08%2024.08%200%200%201-6.45%2013.38%20114.18%20114.18%200%200%200%203.05%200c.64%200%20.96.4.97.8%200%20.4-.33.82-.96.83l-1.69.02c-1.96%200-3.95-.05-5.88-.1l-2.03-.05c-.63-.02-.95-.44-.95-.85%200-.4.33-.8.94-.8h.03l2.02.06%201.24.03c-3.2-3.64-5.61-7.9-6.67-11.87-.46-1.72-.95-4.27.07-6.52a6.75%206.75%200%200%201%206.17-3.8.85.85%200%200%201%20.35-.07h.44c.36-.02.73-.03%201.09-.03%203.11%200%205.36.83%206.7%202.47zm-1.27%201.14c-1.14-1.3-2.92-1.93-5.41-1.93a16.65%2016.65%200%200%200-.88.03h-.3a.86.86%200%200%201-.35.07h-.18c-2.62%200-4.73%201.63-5.1%203.97-.29%201.7.03%203.7.98%206.08a32.29%2032.29%200%200%200%206%209.72c3.2-3.1%205.59-7.7%206.26-12.06.42-2.66.07-4.64-1.02-5.88zm-.88.87c.73.82%201.04%201.83.89%202.92-.31%202.18-2.66%204.02-5.13%204.02l-.34-.01c-2.5-.18-5.05-2.2-4.85-4.91.16-2.38%202.04-3.95%204.61-3.85h.15c1.82%200%203.66.71%204.67%201.83zm-1.45%201.13c-.78-.86-2.24-1.16-3.25-1.16h-.29c-1.82%200-2.47%201.16-2.47%202.25%200%201.42%201.08%202.9%202.9%202.9%201.58%200%203.38-.9%203.59-2.36a1.92%201.92%200%200%200-.48-1.63z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%236a45b6%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-686%20-38)%22%2F%3E%3C%2Fsvg%3E");
    }
    &:hover{
        text-decoration: none;
        color: #333;
        &:before{
            animation: moveTop .3s;
        }
    }
}
.phone {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    display: inline-block;
    padding-left: 30px;
    position: relative;
    text-align: left;
    color: #333;
    &:before {
        @include pseudo;
        width: 22px;
        height: 27px;
        left: 0;
        top: 0;
        background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2223%22%20height%3D%2229%22%20viewBox%3D%220%200%2023%2029%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M947.7%2054.57c-.02-.31.14-.63.55-.71a42.16%2042.16%200%200%201%2016.31-.12c.4.07.55.35.55.64l.01.06c.79%207.36%201.5%2014.78-.02%2022.12-.01.27-.18.53-.54.62-5.26%201.3-10.65.78-15.98.27a.8.8%200%200%201-.7-.98c-.93-7.26-1.32-14.65-.17-21.9zm1.64%2021.49c4.79.45%209.63.88%2014.35-.19%201.36-6.9.73-13.9-.02-20.81-4.64-.85-9.9-.8-14.53.11-1.05%206.9-.65%2013.98.2%2020.89zm.86-3.66c-.38-2.7-1.1-9.45-.12-15.23-.01-.3.17-.63.62-.72a32.05%2032.05%200%200%201%2011.6-.08c.37.07.6.33.62.66v.04c.6%205.01%201.05%2010.76%200%2015.44-.04.3-.27.55-.61.63-1.59.36-3.32.53-5.3.53-2%200-4.04-.18-6.01-.35h-.04a.85.85%200%200%201-.62-.33.78.78%200%200%201-.14-.6zm1.58-.51c1.85.16%203.52.28%205.2.28%201.63%200%203.07-.12%204.4-.38.92-4.46.44-10.1-.03-14.05a30.78%2030.78%200%200%200-9.71.07c-.84%205.24-.2%2011.42.14%2014.08zm4.79%204.06c-1.11%200-1.11-1.66%200-1.66%201.1%200%201.1%201.66%200%201.66z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%236a45b6%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-945%20-51)%22%2F%3E%3C%2Fsvg%3E');
    }
    span{
        font-size: 24px;
        font-weight: 700;
    }
    &:hover{
        text-decoration: none;
        color: #333;
        &:before{
            animation: moveTop .3s;
        }
    }
}
.logo{
    display: inline-block;
    img{
        max-width: 100%;
    }
    @include bp(1199){
        width: 205px;
    }
}
header{
    &.on-scroll{
        position: fixed;
        .header-wrap {
            padding: 5px 0;
        }
        @include bp(991){
            position: static;
            .header-wrap {
                padding: 15px 0;
            }
        }
    }
}

// #nav{
//     list-style: none;
//     display: block;
//     text-align: justify;
//     line-height: 0;
//     margin-bottom: 0;
//     &:after{
//         width: 100%;
//         height: 0;
//         visibility: hidden;
//         overflow: hidden;
//         content: "";
//         display: inline-block;
//     }
//     >li{
//         display: inline-block;
//         text-align: left;
//         line-height: normal;
//         font-size: 14px;
//         position: relative;
//     }
// }

