@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin fs($sizeValue: 1.6) {
    font-size: ($sizeValue) + px;
    font-size: ($sizeValue/10) + rem;
}

@mixin trans($type: all .3s ease-in-out ) {
    transition: $type;
}

@mixin center() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerY() {
    top: 50%;
    transform: translateY(-50%);
}

@mixin centerX() {
    left: 50%;
    transform: translateX(-50%);
}

@mixin jusWrap() {
    text-align: justify;
    line-height: 0;
    font-size: 0;
    &:after {
        content: "";
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        display: inline-block;
    }
}

@mixin bp($class) {
    @if $class == 767 {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $class == 768 {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $class == 991 {
        @media (max-width: 991px) {
            @content;
        }
    } @else if $class == 992 {
        @media (min-width: 992px) {
            @content;
        }
    } @else if $class == 1200 {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $class == 1199 {
        @media (max-width: 1199px) {
            @content;
        }
    }
}

@keyframes moveTop {
    0% {
        top: 0;
    }
    50% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}

@keyframes moveLeft {
    0% {
        left: 0;
    }

    50% {
        left: -20px;
    }

    100% {
        left: 0;
    }
}

@keyframes moveLeftRight {
    0% {
        left: 0;
    }

    50% {
        left: 50px;
    }

    100% {
        left: 0;
    }
}

@keyframes boxing {
    0% {
        right: 0;
    }

    25% {
        right: -10px;
    }
    50% {
        right: 0;
    }
    75% {
        right: -10px;

    }

    100% {
        right: 0;
    }
}

