@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700&subset=cyrillic');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
		text-decoration: none!important;
	}
}
// font-font-family: 'Ubuntu', sans-serif;
// family: 'Neucha', cursive;

html{
	height: 100%;
}
body{
	min-height: 100%;
	background: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #333;

}

.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}
h1,h2,h3,h4,h5,h6,ul,ol{
	margin: 0;
	padding: 0;
}
// var
$c-red:#f05f5c;
$c-violet: #6a45b6;
$c-yellow: #ffca28;
// end var
.row-10{
	margin: 0 -10px;
[class*='col-']{
	padding: 0 10px;
}

}
.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
@import 'mixins';
// @import 'sprite';
@import 'buttons';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
